.analitic_wrapper{
    /* margin: 20px 40px; */
    padding: 20px 30px 120px 60px ;
    background: #3E444A no-repeat center center fixed;
    background-size: cover;
}

.logo_ghost{
    display: block;
    margin: 0 auto;
}

.cardWrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.payment_text{
    color: #fff;
    border-bottom: 1px solid #fff;
}

.invoice_id{
    font-size: 12px ;
    padding-top: 6px;
}

.analitic_card{
    margin: 20px -180px;
}

.info_card-wrapper{
    height: 60vh;
}

.info_card-analitic{
    display: flex;
    justify-content: center;
}

.form-check{
    display: flex;
    justify-content: center;
}

.table_wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* #pageDropDown {
    display: none;
} */
.react-bootstrap-table-pagination-list {
    text-align: start;
    transform: translateX(-80%);
}

.page-link{
    background: #212121;
    border: 0px
}

.table{
    color: #fff;
    background-color: #212121;
    border: 2px solid #212121;
}

.table-bordered th {
    border: 0px
}

.form{
    margin: 0 auto;
}

.nav-link.active {
    color: #fff;
    background-color: #212121;
    border: 0px;
}

.nav-link{
    color: #fff;
    border-radius: 0.25rem;
}

.form_inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_user{
    margin-bottom: 10px;
}

.user_input{
    width: 400px;
}

.form_update{
    margin-bottom: 10px;
    width: 400px;
}

.form_upgrade{
    width: 400px;
    margin-bottom: 20px;
}

.balance_btn{
    width: 150px;
}

.balance_input{
    width: 200px;
}

.search__input{
    background-color: #3E444A;
    border: 2px solid #212529;
    border-radius: 20px;
    padding: 10px;
    color: #212529;
}

@media screen and (max-width: 768px) {
    .invoice_id{
        font-size: 9px;
        padding-top: 11px;
    }
    .logo_ghost{
        display: none;
    }
    .cardWrapper{
        flex-direction: column;
    }

    .analitic_card{
        margin: 0 auto;
    }
    .analitic_wrapper{
        padding: 20px 10px 120px 10px ;
    }
    .user_input{
        width: 350px;
    }

    .form_update{
        width: 350px;
    }

    .form_upgrade{
        width: 350px;
    }

    .balance_btn{
        width: 150px;
    }

    .balance_input{
        width: 150px;
    }

    .card{
        width: 350px;
    }

    .label_text{
        font-size: 14px;
    }
    .proxy_text{
        font-size: 15px;
    }
}