.history-logo {
  margin: 0 auto 5px;
}

.historyWrapper{
  margin: 0 30px;
  padding-left: 30px;
}

@media screen and (max-width: 585px) {
  .historyWrapper {
    margin-right: 10px;
    margin-left: 10px;
    padding: 0px;
  }
  .buy{
    margin-right: 20px;
  }
  .back{
    margin-right: 7px;
  }
}
